<link rel = "stylesheet" href = "/static/parallax.css">

<div class = "parallax">
    <h1 id = "logo"><%= locals.title %></h1>
    <% if(locals.page == "home") {%>
        <a id = "playLink" href="/playNow">
            <img src='/static/playButton.png', onmouseover="hover(this);", onmouseout="unhover(this);"/>
        </a>
    <% }%>

    <script>
        function hover(elem){
            elem.setAttribute('src', '/static/playButton-invert.png');
        }

        function unhover(elem){
            elem.setAttribute('src', '/static/playButton.png');
        }
    </script>
</div>