<link rel = "stylesheet" type = "text/css" href = "/static/topNav.css"/>

<nav id = "header">
    <a href = "/home">HOME</a>
    <a href = "/play">PLAY NOW</a>
    <a href = "/scoreboard">SCOREBOARD</a>
    <a href = "/about">ABOUT</a>
</nav>