<link rel = "stylesheet" type = "text/css" href = "/static/topNav.css"/>

<nav id = "header">
    <a href = "/home" class = "icon"><img src="/favicon.ico"></a>
    <a href = "/home" class = "home">HOME</a>
    <a href = "/play" class = "link">PLAY NOW</a>
    <a href = "/scoreboard" class = "link">SCOREBOARD</a>
</nav>