<!DOCTYPE html>
<html lang = "en">
    <head>
        <%- include('../partials/head'); %>
    </head>
    
    <body>
        <!-- Top Navigation Bar -->
        <%- include('../partials/topNav') %>

        <br><br>

        <!-- Title Parallax -->
        <%- include('../partials/parallax', {title: "What is ToastR?"}) %>
    </body>
</html>