<!DOCTYPE html>
<html lang = "en">
    <head>
        <%- include('../partials/head'); %>
        <link rel = "stylesheet" href = "/static/game.css">
        <link rel = "stylesheet" href = "/static/home.css"
    </head>
    
    <body>
        <!-- Top Navigation Bar -->
        <%- include('../partials/topNav') %>

        <br><br><br>
        <div id="game"></div>
        <div id="noGame">
            <h3>Sorry but you're on mobile</h3>
            <p>Whilst we're working hard to bring ToastR to your phones, it doesn't work just yet</p>
        </div>
    </body>

    <script src = "/main.js"></script>
</html>