<!DOCTYPE html>
<html lang = "en">
    <head>
        <%- include('../partials/head'); %>
        <link rel = "stylesheet" href = "/static/game.css"
    </head>
    
    <body>
        <!-- Top Navigation Bar -->
        <%- include('../partials/topNav') %>

        <br><br><br>
        <div id="game"></div>
    </body>
    <script src = "/main.js"></script>
</html>