<!DOCTYPE html>
<html lang = "en">
    <head>
        <%- include('../partials/head'); %>
    </head>
    
    <body>
        <!-- Top Navigation Bar -->
        <%- include('../partials/topNav') %>

        <!-- Title Parallax -->
        <link rel = "stylesheet" href = "/static/parallax.css">
        <div class = "parallax">
            <h1>ToastR</h1>
        </div>
    </body>
</html>