.main-body{
    background-color: #34A1A7;
    width: 100%;
    padding-top: 1%;
    padding-bottom: 3%;
}

.flex-text{
    background-color: #34A1A7;
    width: 100%;
    margin: auto;
    display: flex;
}

.container{
    padding: 2.5%;
    word-wrap: break-word;
    float: left;
    overflow: hidden;
    flex: 45%;
    text-align: center;
}

.review-text{
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 1%;
    padding-bottom: 1%;
}

.review-text h2{
    text-align: center;
    font-size: 50px;
    text-decoration: underline;
}

.rating{
    background-color: #58A0A4;
    text-align: right;
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.flex-rating{
    padding: 1%;
    padding-right: 2%;
}

.flex-rating a{
    color: wheat;
    text-decoration: none;
}

.flex-rating a:hover{
    color: white;
    text-decoration: underline;
}

.break{
    flex-basis: 100%;
    height: 0;
}

@media (hover: hover){
    .rating{
        flex-direction: row;
    }

    .container h3{
        font-size: 50px;
    }

    .container p{
        font-size: 25px;
    }

    .flex-rating{
        flex-direction: row;
    }
}

@media (hover: none), (hover: on-demand) {
    .flex-text{
        flex-direction: column;
    }

    .container h3{
        font-size: 25px;
    }

    .container p{
        font-size: 12px;
    }

    .rating{
        flex-direction: column;
    }

    .break{
        display: none;
    }
}