/* Attributes that dont change between mobile and desktop */
.parallax{
    background-image: url('/assets/background.png');
    margin: 0;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: fill;
}

#logo {
    padding: 5%;
    text-align: center;
    color: #c09947;
    margin: 0%;
}

#playLink {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 2%;
}

#playLink img {
    width: 300px;
    height: 150px;
}

/* Attributes that are specific to desktop */
@media (hover: hover){
    .parallax {
        height: auto;
        width: auto;
        background-position: top;
        padding-top: 1%;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
    }
    
    #logo{
        font-size: 192px;
        -webkit-text-stroke: 10px #694329;
    }
}

/* Atributes that are specific to mobile */
@media (hover: none), (hover:on-demand) {
    .parallax{
        height: 100%;
        width: 100%;
        background-position: top;
        padding-top: 25%;
        padding-bottom: 25%;
    }
    #logo{
        font-size: 92px;
        -webkit-text-stroke: 5px #694329;

    }
}