#header{
    display: flex;
    flex-direction: row;
    background-color: #288b90;
    overflow: hidden;
    text-align: center;
    position: fixed;
    width: 100%;
    padding-left: 1%;
    padding-right: 1%;
}

#header a{
    color: wheat;
    text-decoration: none;
}

#header a:hover{
    background-color: #257f84;
    color: white;
}

#header img{
    flex: 2%;
    max-width: 50px;
    max-height: 50px;
}

.link{
    padding-top: 1%;
    padding-bottom: 1%;
    flex: 33%;
}
